<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/product.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a href="/products-page">Products</a></li>
                <li class="main-header__item"><a href="admin/page2">Find Product</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>My Products</h1>
        <p>List of all the products...</p>
        <div class="grid">
            <% for (let products of prods) { %> <!--this line is very important because of the req.body.title -->
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= products.title %></h1> <!--//very important!! what i said earlier -->
                </header>
                <div class="card__image">
                    <img src= "<%= products.imageUrl %>" alt="A Book">
                </div>
                <div class="card__content">
                    <h2 class="product__price"><%= products.price %>
                    <p class="product__description"><%= products.description %>
                </div>
                
                <div class="card__actions">
                <form action="/products-page" method="POST">
                    <!-- <input type="hidden" value="<%= products.id %>" name="productid"> -->
                    <button class="btn" type="submit">Delete</button>
                </form>
            </div>
            </article>
            <% } %>
        </div>
    </main>
</body>

</html>